/Makefile
/Makefile.Debug
/Makefile.Release
/ui_about.h
/ui_asynchronousMessage.h
/ui_cddbimport.h
/ui_cddbselect.h
/ui_coverprinter.h
/ui_coverviewer.h
/ui_devicelist.h
/ui_edit.h
/ui_editdevice.h
/ui_editstring.h
/ui_edittrack.h
/ui_edittrackdialog.h
/ui_exporttracks.h
/ui_firststart.h
/ui_fkeys.h
/ui_langselect.h
/ui_massimport.h
/ui_menue.h
/ui_oimpinfo.h
/ui_player.h
/ui_playlist.h
/ui_playlistedit.h
/ui_playlistexport.h
/ui_printdevicedialog.h
/ui_properties.h
/ui_regexpedit.h
/ui_renumberdialog.h
/ui_search.h
/ui_searchlistdialog.h
/ui_searchlists.h
/ui_searchlisttrackdialog.h
/ui_setbpmplayed.h
/ui_shortcutdialog.h
/ui_splashscreen.h
/ui_tablesearch.h
/WinMusik.pro
/release/
/object_script.WinMusik.Debug
/object_script.WinMusik.Release
/debug/
/WinMusik.pro.user
/ui_wmcoverwidget.h
/.qmake.stash
